<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.a11dev.trackapp">

    <!-- Aggiungi i permessi per l'accesso alla posizione -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />

    <application
        android:allowBackup="true"
        android:label="TrackApp"
        android:supportsRtl="true"
        android:theme="@style/Theme.TrackApp">

        <!-- MainActivity configurata per essere visibile nel launcher -->
        <activity android:name=".MainActivity"
            android:exported="true">
            <!-- Intent-filter per rendere l'app visibile nel launcher -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Intent filter per ricevere URI personalizzati -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Gestisce gli URI "https" con host e path specifici -->
                <data android:scheme="https"
                    android:host="toftrackapp"
                    android:pathPrefix="/track"/>

                <!-- Gestisce gli URI "toftrack" con host specifico -->
                <data android:scheme="toftrack"
                    android:host="toftrackapp"/>
            </intent-filter>
        </activity>

        <service
            android:name=".TrackingService"
            android:exported="true"
            android:foregroundServiceType="location">
        </service>

        <receiver
            android:name=".StopTrackingReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="dev.a11dev.trackapp.ACTION_STOP_TRACKING" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".StartTrackingReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="dev.a11dev.trackapp.ACTION_START_TRACKING" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
